html, body {
    height: 100%;
    width: 100%;
}

#home {
    background: url(../assets/splash_01.jpeg) no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

